@media (min-width: 2559px) {
    .stateBox{
        width: 40%;
        height: 170%;

    

        position: relative;
        
        
        
        div{
            font-size: 25px;
        }
    }
}