.navigation-wrapper {
  width: 100%;
  height: 100%;
  cursor: grab;
  overflow: hidden;
  position: relative;
}

.navigation-scene {
  display: flex;
  height: 100%;
  width: 6000px; /* 3 bloques AB (ajustar al tamaño de tu imagen) */
}

.layer {
  flex: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mirrored {
  transform: scaleX(-1);
  background-position: right center;
}
